body {
  background-color: #f4efe6;
}

.beer-list-logo-container {
  text-align: center;
  margin-bottom: -60px;
  padding-top: 15px;
}

.beer-list-logo {
  width: 422px;
  height: 114px;
}

.white-container {
  padding: 60px 20px 0 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  width: 91%;
  background-color: #ffffff;
  box-shadow: 0 11px 34px 0 rgba(151, 145, 135, 0.16);
}

.guest-beers {
  font-family: RobotoSlab;
  font-size: 28px;
  font-weight: bold;
}

.beers {
  margin-bottom: 1em !important;

  .beer-logo-crop {
    overflow:hidden;
    .beer-logo {
      padding-right: 1em;
    }
  }

  .beer-name {
    font-family: RobotoSlab;
    font-size: 34px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.5px;
    color: #233746;
  }

  .beer-tagline {
    font-family: Roboto;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6e757b;
  }

  .abv-text {
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #d2b887;
  }

  .abv-content {
    font-family: RobotoSlab;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: #233746;
  }

  .beer-tier-text {
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #d2b887;
  }

  .beer-tier-content {
    font-family: RobotoSlab;
    font-size: 42px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 4.7px;
    text-align: center;
    color: #233746;
  }
}

.tier-pricing {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 91%;
  .tier-main-name {
    opacity: 0.65;
    font-family: RobotoSlab;
    font-size: 38px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2em;
    letter-spacing: 2.5px;
    color: #6e757b;
  }

  .tier-name {
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #988561;
  }

  .tier-content {
    font-family: RobotoSlab;
    font-size: 38px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.5px;
    color: #233746;
    text-align: center;
  }
}
