Body {
  object-fit: contain;
  background-color: #f4efe6;
  width: 1920px;
  height: 1080px;
}

.White-Container {
  margin-top: 90px;
  margin-right: 90px;
  margin-left: 90px;
  width: 1740px;
  height: 834px;
  background-color: #ffffff;
  box-shadow: 0 11px 34px 0 rgba(151, 145, 135, 0.16);
}

.Beer-List {
  width: 422px;
  height: 114px;
  object-fit: contain;
  float: left;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.guest-beers {
  width: 838px;
  height: 90px;
  float: right;
}

.guest-beer-name{
  font-family: RobotoSlab;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.6px;
  color: #233746;
  float: right;
  margin-right: 44px;
  margin-top: 29px;
}

.guest-beer-price {
  font-family: RobotoSlab;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.7px;
  text-align: center;
  color: #233746;
  float: right;
  margin-right: 17px;
  margin-top: 29px;
}

.Guest-Beer {
  width: 281px;
  height: 90px;
  object-fit: contain;
  float: left;
}

.Line {
  width: 3px;
  height: 731px;
  border: solid 2px #efeae1;
}

.beers {
  padding-top: 64px;
}

.beer {
  float: left;
  width: 868px;
  margin-bottom: 45px;
}

.beer-text {
  margin-left: 20px;
  float: left;
}

.beer-abv {
  float: right;
  margin-right: 50px;
  margin-top: 8px;
}

.beer-tier {
  float: right;
  margin-right: 20px;
  margin-top: 8px;
}

.Beer-Logo {
  float: left;
  width: 86px;
  height: 86px;
  margin-left: 36px;
}

.beer-name {
  font-family: RobotoSlab;
  font-size: 38px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.5px;
  color: #233746;
}

.beer-tagline {
  font-family: Roboto;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6e757b;
  max-width: 500px;
  margin-bottom: -30px;
}

.abv-text {
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #d2b887;
}

.abv-content {
  font-family: RobotoSlab;
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
  color: #233746;
}

.beer-tier-text {
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #d2b887;
}

.beer-tier-content {
  font-family: RobotoSlab;
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.7px;
  text-align: center;
  color: #233746;
}

.tier-pricing {
  margin-left: 90px;
}

.tier {
  margin-top: 25px;
  width: 868px;
  float: left;
}

.tier:last-child {
  margin-left: 35px;
}

.tier-main-name {
  float: left;
  opacity: 0.65;
  font-family: RobotoSlab;
  font-size: 38px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.5px;
  color: #6e757b;
  margin-top: 16px;
}

.tier-name {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #988561;
}

.tier-content {
  font-family: RobotoSlab;
  font-size: 38px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.5px;
  color: #233746;
  text-align: center;
}

.taster {
  float: left;
  margin-left: 27px;
}

.half-pint {
  float: left;
  margin-left: 58px;
}

.pint {
  float: left;
  margin-left: 71px;
}

.crowler {
  float: left;
  margin-left: 75px;
}

.growler {
  float: left;
  margin-left: 61px;
}