<!DOCTYPE html>
<html>
  <head>
    <title>Beer List :: East Nashville Beer Works</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700" rel="stylesheet">
    <meta http-equiv="refresh" content="3000" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
